header {
  width: 100%;
  text-align: center;
}

header img {
  max-width: 100%;
}

.login-button {
  width: 120px;
  position: relative;
  margin: 25px auto 45px;
}

.ote-box {
  border: 1px solid #3d3d3d;
  border-radius: 5px;
  float: left;
  width: CALC( 50% - 50px );
  margin: 15px;
  min-width: 250px;
  transition: 2s all;
  padding: 5px;
}

.ote-box button {
  width: 100%;
}

.ote-box .ote-icon {
  max-width: 50px;
  position: relative;
  top: -20px;
  left: -20px;
  background-color: white;
}

.ote-box-fullwidth {
  width: CALC( 100% - 50px ) !important;
}

.ote-box-fullwidth input {
  width: 100px;
}

.ote-box-fullwidth button {
  width: 100px !important;
}

.divider {
  margin: 20px;
}

.ote-talking {
  color: darkorange;
  font-weight: bold;
}
